* {
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.photos-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/**** MODAL POP UP START ***/
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 100000000000000000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: absolute;
  z-index: 100000;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.transcripts-modal-p {
  text-align: left;
}

.transcripts-modal-span {
  font-weight: bold;
  font-style: italic;
}

#myBtn {
  width: 200px;
  height: 40px;
  background-color: #FC4349;
  color: #000;
  font-size: 1.5rem;
  border-radius: 1%;
  margin-top: 15%;
  margin-left: 15%;
  position: absolute;
  z-index: 10000000000000000000;
}
/** MODAL POPUP END **/

/* ************** GLOBAL THINGS START ************** */
.logo {
  width: 26%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* ANIMATED NAV START */
header {
  color: #F5F1F0;
  background-color: #000;
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  z-index: 1000000000000000;
}

nav.container
{
  margin: 0 auto;
	text-align: right;
  padding: 1% 0%;
}

nav.container ul {
  padding-top: 3%;
}

nav.container ul li {
  padding-top:1%;
}

nav.container ul li a
{
    color: #f4d34a;
    font-size: 1.75rem;
    text-decoration: none;
    margin-top: 4%;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav.circleBehind a:before, nav.circleBehind a:after
{
    position: absolute;
    top: 20px;
    left: 20%;
    padding-left:5%;
    width: 50px;
    height: 50px;
    border: 4px solid #0277bd;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

nav.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

nav.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

nav.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*  ANIMATED NAV END  */

/*** MOBILE MENU START***/

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}
/*header{display:inline-block; font-size:12px;}*/
span{padding-left:20px;}
a{color:#336699;}


/*** MOBILE MENU END***/

.site-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  font: 1.8rem 'Open Sans', sans-serif;
}

.site-content {
  flex: 1;
}

.site {
  max-width: 100%;
}

.background {
  width: 100%;
}

ul {
  list-style-type: none;
  float: left;
  left: 50%;
  position: relative;
}

figure {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

p {
  margin: 1.2%;
  line-height: 1.4em;
  font-size: 1.5rem;
}

footer {
  display: block;
  background: #000;
  color: #F5F1F0;
  padding: 10%;
  max-width: 100%;
  bottom: 0;
}

.copyright {
  padding-bottom: .5%;
  color: #F5F1F0;
  text-align: center;
}

#container {
    max-width: 100%;
    position: absolute;
    z-index:100;
    margin-top:25%;
    margin-left:45%;
  }

div.header {
  color: #fff;
}

li {
  margin: 0 30px;
  float: left;
  left: -50%;
  position: relative;
}

a {
  text-decoration: none;
  color: #f4d34a;
  text-transform: uppercase;
}

/* ************** GLOBAL THINGS END **************** */
/* ************** HOME PAGE START ************** */
.strings-img {
  width: 60%;
}


.strings-div {
  display: flex;
  flex-wrap: wrap;
  margin 0 30%;
  justify-content: center;
  }

/* ********************* HOME PAGE END ********************* */
.site-home {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  max-width: 100%;
  font: 1.8rem 'Open Sans', sans-serif;
}

.background-home {
  width: 100%;
}

.blackie-home-img {
  position: absolute;
  z-index:100;
  margin-top:25%;
  max-width: 80%;
  animation-name: blackie-home-img;
      -webkit-animation-name: blackie-home-img;
      -moz-animation-name: blackie-home-img;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      -moz-animation-iteration-count: 1;

}

.blackie-string-img {
  position: absolute;
  z-index:100;
  margin-left:80%;
  max-width: 90%;
  animation-name: blackie-string-img;
      -webkit-animation-name: blackie-string-img;
      -moz-animation-name: blackie-string-img;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-iteration-count: 1;
      -webkit-animation-iteration-count: 1;
      -moz-animation-iteration-count: 1;
/* VENDOR PREFIXES ADDED ABOVE */
}

/* ********************* ABOUT PAGE START ********************* */
.site-business {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font: 1.8rem 'Open Sans', sans-serif;
}

.blackie-business-img {
  position: absolute;
  z-index:100;
  margin-top:25%;
}

/* ******** CIRCLE CHART START ******* */
@import url(//fonts.googleapis.com/css?family=Oswald:400);
body {
  font-family: "Oswald", sans-serif;
}
.chart {
  position: absolute;
  z-index:1000000;
  width: 450px;
  height: 450px;
  top: 50%;
  left: 55%;
  margin: -225px 0 0 -225px;
}
.doughnutTip {
  position: absolute;
  z-index:1000000;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
      position: absolute;
      z-index:1000000;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(0,0,0,.7);
      line-height: 0;
  }
}
.doughnutSummary {
  position: absolute;
  z-index:1000000;
  top: 50%;
  left: 50%;
  color: #d5d5d5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}
.doughnutSummaryTitle {
  position: absolute;
  z-index:1000000;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  z-index:1000000;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}
.chart path:hover { opacity: 0.65; }

/* ******* CIRCLE CHART END ****** */

/* ********************* ABOUT PAGE END ********************* */
/* ********************* GAMETIME PAGE START ********************* */
.site-casino {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font: 1.8rem 'Open Sans', sans-serif;
}

.tic-tac-toe-section {
  display: flex;
  margin-top: 20%;
}

/* ***** START TIC TAC TOE ***** */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.square{
    width:100px;
    height:100px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}


#board {
    display: inline-block;
    margin-top:2%;

}
.invisible {
    visibility:hidden;
}
.visible {
    visibility:visible;
}

table {
    background-color: #FAFAFA;
    text-align:center;
      font: 400 30px/1.5 'Pacifico', Helvetica, sans-serif;
}
tic-tac-toe-p {
    margin-left:25%;
    margin-right:25%;
}
/* ***** STOP TIC TAC TOE ***** */

.blackie-dealer-img {
  position: absolute;
  z-index:100;
  margin-top:25%;
  margin-left:8%;
}

/* ********************* GAMETIME PAGE END ********************* */
/* ********************* CONTACT PAGE START ********************* */
#gradient
{
max-width: 100%;
padding: 10% 0 2%;
margin: 0px;
display: flex;
flex-wrap: wrap;
}


.blackie-signature-figure {
  padding-left: 40%;
  width: 80%;
}

.space-image {
  margin: 30% 11% 10%;
  max-width: 100%;
  animation-name: space-img;
      -moz-animation-name: space-img;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-iteration-count: 4;
      -webkit-animation-iteration-count: 4;
      -moz-animation-iteration-count: 4;
/* VENDOR PREFIXES ADDED ABOVE */
}

/* ********************* CONTACT PAGE END ********************* */
/* ********************* PHOTOS PAGE START ********************* */
.photos-h1 {
  text-align: center;
}

.photos-figure {
  width: 80%;
}

.photos-text-section {
  padding: 1% 7% 0%;
}

/* ACTUAL PHOTOS */
.photos-page-img {
  max-width: 100%;
}

/* ********************* PHOTOS PAGE END ********************* */

.blackie-main {
  width: 30%;
  margin-left: 20%;
}

.home-images {
  display: flex;
}

/* *************** GLOBAL THINGS START **************** */
@media(min-width: 320px) {
  nav.container ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .cross {
    display: block;
  }

  .logo {
    width: 35%;
  }

  copyright{
    font-size: .5rem;
  }

  h1 {
    font-size: 1rem;
  }


  p {
    font-size: .75rem;
  }

}

@media(min-width: 670px) {
  .logo {
    width: 30%;
  }

  h1 {
    font-size: 1.75rem;
  }


  p {
    font-size: 1rem;
  }

}

@media(min-width: 924px) {
  nav.container ul {
    display: block;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .cross {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }


  copyright{
    font-size: .75rem;
  }
}
/* *************** GLOBAL THINGS END **************** */
/* *************** HOME PAGE START ******************* */
@media(min-width: 320px){
  .blackie-home-img {
    max-width: 30%;
  }

  .blackie-string-img {
    max-width: 10%;
  }
}

@media(min-width: 1685px){
  .blackie-home-img {
    max-width: 80%;
  }

  .blackie-string-img {
    max-width: 90%;
  }
}

/* ************ HOME PAGE END ********************* */
/* ************ ABOUT PAGE START ****************** */

@media(min-width: 320px){
  .blackie-business-img {
    display: none;
  }

  #myBtn {
    width: 100px;
    height: 20px;
    font-size: .5rem;
    margin-top: 15%;
  }

  .chart {
  width: 150px;
  height: 150px;
  display: block;
  top: 29.9%;
  left: 105%;
 }
}

@media(min-width: 349px){

  .chart {
  top: 30%;
  left: 99%;
 }
}

@media(min-width: 382px){
  .chart {
  top: 32%;
  left: 85%;
 }
}

@media(min-width: 455px){
  .blackie-business-img {
    display: none;
  }

  #myBtn {
    width: 100px;
    height: 20px;
    font-size: .5rem;
    margin-top: 25%;
  }

  .chart {
  top: 35%;
  left: 85%;
 }
}

@media(min-width: 523px){

  .chart {
  top: 40%;
  left: 85%;
 }

}

@media(min-width: 740px){
  .chart {
    top: 35%;
    left: 70%;
 }

 .blackie-business-img {
   display: block;
   max-width: 30%;
 }

  #myBtn {
    width: 200px;
    height: 40px;
    font-size: 1.5rem;
  }

  .chart {
  width: 250px;
  height: 250px;
 }


@media(min-width: 900px){
  .chart {
  top: 30%;
  left: 65%;
 }


@media(min-width: 1100px){
  .blackie-business-img {
  max-width: 80%;
 }

  .chart {
  width: 450px;
  height: 450px;
  margin-right: 2%;
  left: 50%;
  top: 55%;
 }
}
/* ************ ABOUT PAGE END ******************** /
/* ************ GAMETIME PAGE START **************** */

@media(min-width: 320px) {
.blackie-dealer-img {
  display: none;
 }

.site-casino {
  font-size: .5rem;
 }

#board {
  margin-right: 10%;
 }

.square {
  width: 50px;
  height: 50px;
 }

#container {
    max-width: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 16%;
    margin-left: 40%;
 }
}

@media(min-width: 470px) {
  #container {
      margin-top: 16%;
  }
}

@media(min-width: 1100px) {
.blackie-dealer-img {
  width: 30%;
  margin-top:25%;
  margin-left:8%;
  display: block;
 }

.site-casino {
  font-size: 1rem;
 }

.square {
  width: 75px;
  height: 75px;
 }

#board {
  margin-right: 10%;
 }

#container {
    max-width: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 20%;
    margin-left: 45%;
 }
}

@media(min-width: 1450px) {
.blackie-dealer-img {
  position: absolute;
  z-index:100;
  margin-top:25%;
  margin-left:8%;
 }

#container {
    max-width: 100%;
    position: absolute;
    z-index: 100;
    margin-top: 20%;
    margin-left: 45%;
 }

.square {
  width: 100px;
  height: 100px;
 }
}

/* ************ GAMETIME PAGE START END **************** */
/* ************ CONTACT PAGE START START **************** */

@media(min-width: 320px) {
  .space-image {
    margin: 15% 0% 5%;
    padding-left:20%;
    width: 40%;
  }

  .content-section {
    width: 75%;
    padding: 0% 5%;
    margin: 0% 5%;
    font-size: 1rem;
  }
}

@media(min-width: 650px) {
  .space-image {
    margin: 15% 0% 5%;
    padding-left:30%;
    width: 50%;
  }
}

@media(min-width: 800px) {
  .space-image {
    margin: 15% 0% 5%;
    padding-left:30%;
    width: 70%;
  }

  .content-section {
    width: 75%;
    padding: 0% 5%;
    margin: 0% 5%;
  }
}

@media(min-width: 1100px) {
.space-image {
  padding-left:50%;
}
}

@media(min-width: 1200px) {
.space-image {
  margin: 8% 4% 10%;
  padding-left:50%;
  max-width: 80%;
  padding-left:80%;
}

.contact-section {
  padding-left: 10%;
  width: 80%;
 }
}

@media(min-width: 1500px) {
.space-image {
  margin: 25% 15% 10% 0%;
  padding-left:8%;
  width: 90%;
}

.contact-section {
  width: 50%;
  padding: 1% 5% 0% 10%;
 }
}

@media(min-width: 1734px) {
  .space-image {
    margin: 25% 15% 10% 0%;
    padding-left:15%;
    width: 90%;
  }

  .contact-section {
    width: 50%;
    padding: 1% 10% 0% 10%;
  }
}
/* **************** CONTACT PAGE END ******************** */
/* ***************** PHOTOS PAGE START **************** */
@media(min-width: 320px){
  .photos-h1 {
      margin-top: 20%;
  }
}

@media(min-width: 768px){
  .photos-h1 {
      margin-top: 15%;
  }
}

@media(min-width: 1050px){
  .photos-h1 {
      margin-top: 10%;
  }
}

/* ***************** PHOTOS PAGE END **************** */
/* ***************** HOME PAGE ANIMATIONS START *********** */
@keyframes blackie-string-img {

  /* STARTING POINT FOR ANIMATION */
  from {
    margin-left: 80%;
  }

  /* END POINT FOR ANIMATION */
  to {
    margin-left: 50%;
  }
}
/* VENDOR PREFIX FOR WEBKIT */
@-webkit-keyframes blackie-string-img {

  /* STARTING POINT FOR ANIMATION */
  from {
    margin-left: 80%;
  }

  /* END POINT FOR ANIMATION */
  to {
    margin-left: 50%;
  }
}
/* VENDOR PREFIX FOR MOZILLA */
@-moz-keyframes blackie-string-img {

  from {
    margin-left: 80%;
  }

  to {
    margin-left: 50%;
  }
}

@keyframes blackie-home-img {

  /* STARTING POINT FOR ANIMATION */
  from {
    margin-right: 10%;
  }

  /* END POINT FOR ANIMATION */
  to {
    margin-left: 30%;
  }
}
/* VENDOR PREFIX FOR WEBKIT */
@-webkit-keyframes blackie-home-img {

  /* STARTING POINT FOR ANIMATION */
  from {
    margin-right: 10%;
  }

  /* END POINT FOR ANIMATION */
  to {
    margin-left: 30%;
  }
}
/* VENDOR PREFIX FOR MOZILLA */
@-moz-keyframes blackie-home-img {

  from {
    margin-right: 10%;
  }

  to {
    margin-left: 30%;
  }
}

/* ***************** HOME PAGE ANIMATIONS END ************* */
/* ***************** CONTACT PAGE ANIMATIONS START ******** */
@keyframes space-image {

  /* STARTING POINT FOR ANIMATION */
  from {
    padding-left: 5%;
  }

  /* END POINT FOR ANIMATION */
  to {
    padding-left: 0%;
  }
}
/* VENDOR PREFIX FOR WEBKIT */
@-webkit-keyframes space-image {

  /* STARTING POINT FOR ANIMATION */
  from {
    padding-left: 5%;
  }

  /* END POINT FOR ANIMATION */
  to {
    padding-left: 0%;
  }
}
/* VENDOR PREFIX FOR MOZILLA */
@-moz-keyframes space-image {

  from {
    padding-left: 5%;
  }

  to {
    padding-left: 0%;
  }
}


/* ***************** CONTACT PAGE ANIMATIONS END ********** */
